{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<head>
	<!-- <script language="JavaScript" type="text/javascript">
		var host = location.host.toLowerCase();
		var currentAddress = location.href;
		if (host.indexOf("www") == -1 && host.indexOf("kr") == -1 && host.indexOf("en") == -1) {
			currentAddress = currentAddress.replace("//", "//www.");
			location.href = currentAddress;
		}
	</script> -->
	<script type="text/javascript" id="www-widgetapi-script" src="{% static 'capstone/js/www-widgetapi.js' %}" async=""></script>
	<title>캡스톤 17조 Summer</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-sacle=1.0, maximum-scale=1.0, user-scalable=no">
	
	<meta http-equiv="X-UA-Compatible" acontent="IE=edge">
	<!--파비콘-->
	<!-- <link rel="shortcut icon" type="image/png" href="{% static 'capstone/img/favicon.png' %}" /> -->
	<!-- Bootstrap CSS -->
	<link href="{% static 'capstone/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

	<!-- Font Awesome CSS -->
	<link href="{% static 'capstone/css/notosanskr.css' %}" rel="stylesheet" type="text/css">

	<!-- Include all css plugins (below), or include individual files as needed -->
	<link href="{% static 'capstone/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
	<!--	<link href="{% static 'capstone/css/commonv7.css' %}" rel="stylesheet" type="text/css">-->
	<!-- Theme CSS -->
	<link href="{% static 'capstone/css/theme.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'capstone/css/styles.css' %}" rel="stylesheet" type="text/css">
    
    <style>
        
        html, body 
        {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        
        /*-- 블록 설정 색상 start--*/
        ::-moz-selection{
                  background: #2850b7;
                  color: #ffffff;
        }
        ::-webkit-selection{
                  background: #2850b7;
                  color: #ffffff;
        }
        ::selection{
                  background: #2850b7;
                  color: #ffffff;
        }
        /*--블록 설정 색상 end--*/


    </style>

</head>

<body id="page-top" style="width:100%;">

    	<!--  start: BLUE BAIKAL PROJECT  -->
	<section id="project" class="col-12" style="background-color:rgb(247,247,247,1); max-width:100%;">

		<div class="justify-content-center" style="width:80%; margin:0 auto;">
			<div class="text-center">
                <h1 class="letter-spacing-1 text-uppercase"> Summer </h1>
			</div>
		</div> 

		<container class="category text-center">
			
		</container>
       
		<container class="project_info" style="margin:0 auto;">
			
			<div class="project_img" >
				flac upload
			</div>
			
			<div class="project_desc" >
					<h3 class="mb-4">Text</h3>
					
                    <div class="text-medium" style="line-height:1.95rem;">
						key word
					</div>
			</div>

		</container>

		
	</section>

    <!-- Main JS -->
	<script src="{% static 'capstone/js/jquery.js' %}"></script>
	<script src="{% static 'capstone/js/popper.js' %}"></script>
	<script src="{% static 'capstone/js/bootstrap.js' %}"></script>

	<!-- Include all js plugins (below) -->
	<script src="{% static 'capstone/js/pace.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.easing.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.matchHeight.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.inview.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.countTo.js' %}"></script>
	<script src="{% static 'capstone/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'capstone/js/isotope.pkgd.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.magnific-popup.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.validate.js' %}"></script>

	<!-- Theme JS -->
	<script src="{% static 'capstone/js/theme.js' %}"></script>

</body>

</html>