{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<head>
	<img src="/static/capstone/logo.png" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
	<script type="text/javascript" id="www-widgetapi-script" src="{% static 'capstone/js/www-widgetapi.js' %}"
		async=""></script>
	<div class="info">URL을 입력하거나 flac 파일을 넣어주세요.</div>
	<title>Summer</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-sacle=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" acontent="IE=edge">

	<link rel="stylesheet" href="/static/capstone/css/main.css">
	<link href="{% static 'capstone/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'capstone/css/notosanskr.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'capstone/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'capstone/css/theme.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'capstone/css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Overall View -->
	<div class="modal fade" id="modalOverall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" style="overflow-y:scroll; position: absolute; z-index: 10000;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!--Header-->
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">test.flac - Overall View</h3>
					<a href="{% static 'capstone/overallview/overallview.txt' %}" download>
						<input type="button" class="close" value="Download" style="font-size: 15px; border-radius: 3px 3px 3px 3px; float: right;" />
					</a>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right">
						<span aria-hidden="true">×</span>
					</button>
				</div>

				<!--Body-->
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="text-align:center">Script</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Overall view test
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			
			</div>
		</div>
	</div>

	<!-- Summary View -->
	<!-- Button trigger modal-->
	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCart">Launch modal</button> -->
	<div class="modal fade" id="modalSummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!--Header-->
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">test.flac - Summary View</h3>
						<input type="button" class="close" value="Overall View"
							style="font-size: 15px; border-radius: 3px 3px 3px 3px; float: right;" /></a>
					<a href="{% static 'capstone/summary/summary.txt' %}" download>
						<input type="button" class="close" value="Download"
							style="font-size: 15px; border-radius: 3px 3px 3px 3px; float: right;" /></a>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right">
						<span aria-hidden="true">×</span>
					</button>
				</div>

				<!--Body-->
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Time</th>
								<th style="text-align:center">Summary</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">0:00:00</th>
								<td>There's a question.</td>
								<td><a><i class="fas fa-times"></i></a></td>
							</tr>
							<tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
	<!-- Modal: summary view -->

	<!--  start: PROJECT  -->
	<div class="wrapper">
		<input type="text" placeholder="URL을 입력해주세요" />
		<div style="justify-content:center; flex-direction: row; width: 100%; display: flex">
			<form action="http://storage.googleapis.com/speech-ysh" method="post" enctype="multipart/form-data" id="form">
				<input type="file" name="file" id="file" accept=".flac" required />
				<input type="hidden" name="key" value="${filename}" id="key" />
				<input type="hidden" name="success_action_status" value="201" />
				<input type="hidden" name="success_action_redirect" value="localhost:8000">

				<!-- redirect problem -->

				<i class="fas fa-sync-alt fa-3x"></i>

			</form>
			<!-- <input type="Sentence"/> -->
			<!-- data-toggle="modal" data-target="#modalCart" -->
		</div>
		<br>
		<div style="justify-content:center; flex-direction: row; width: 100%; display: flex; padding: 10px">
			<span>Sentence &emsp;</span>
			<select name="Sentence">
				<option value="30%" selected="selected">30%</option>
				<option value="20%">20%</option>
				<option value="10%">10%</option>
			</select> &emsp;
			<span>KeyWords &emsp;</span>
			<select name="KeyWords">
				<option value="3" selected="selected">3</option>
				<option value="5">5</option>
				<option value="10">10</option>
			</select> &emsp;
			<input type="submit" value="Summary" id="submit" onclick="Summary()" style="border-radius:5px 5px 5px 5px;" />
		</div>
		<div class="text-center">
			<h1 class="letter-spacing-1 text-uppercase">&emsp;</h1>
		</div>
	</div>

	<div style="justify-content:center; flex-direction: row; width: 100%; display: flex">
		<table>
			<!-- <caption style="text-align:center; caption-side: top;"><h2>List</h2></caption> -->
			<tr>
				<th>
					<h3>Files</h3>
				</th>
				<th>
					<h3>Duration</h3>
				</th>
				<th>
					<h3>Uploaded</h3>
				</th>
				<th>
					<h3>KeyWords</h3>
				</th>
			</tr>
			<tr>
				<td style="text-align:center"><a data-toggle="modal" data-target="#modalSummary">test.flac</a></td>
				<td style="text-align:center">0:14:37</td>
				<td style="text-align:center">18 Apr 2019 16:01</td>
				<td style="text-align:center; flex-direction: row; ">
					<div style="font-weight: bold; text-transform: uppercase">
						<span
							style="background:#57b6cc; border: solid #57b6cc; border-radius: 15px 15px 15px 15px">accmodations</span>
						<span style="background:#57b6cc; border: solid #57b6cc; border-radius: 15px 15px 15px 15px">hire</span>
						<span style="background:#57b6cc; border: solid #57b6cc; border-radius: 15px 15px 15px 15px">hearings</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- data-toggle="modal" data-target="#modalCart" -->
	<script type="text/javascript">
		function Upload() {
			alert("Upload Success");
		}
	</script>
	<!-- <div class="project_desc" >
				<h3 class="mb-4">Text</h3>
				
									<div class="text-medium" style="line-height:1.95rem;">
					key word
				</div>
		</div> -->

	</container>


	</section>

	<!-- Main JS -->
	<script src="{% static 'capstone/js/jquery.js' %}"></script>
	<script src="{% static 'capstone/js/popper.js' %}"></script>
	<script src="{% static 'capstone/js/bootstrap.js' %}"></script>

	<!-- Include all js plugins (below) -->
	<script src="{% static 'capstone/js/pace.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.easing.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.matchHeight.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.inview.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.countTo.js' %}"></script>
	<script src="{% static 'capstone/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'capstone/js/isotope.pkgd.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.magnific-popup.js' %}"></script>
	<script src="{% static 'capstone/js/jquery.validate.js' %}"></script>

	<!-- Theme JS -->
	<script src="{% static 'capstone/js/theme.js' %}"></script>


</body>

</html>